/* Write your CSS Here. */
#movie-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin: 5px 10px;
    padding: 5px 10px;
    }
     
    #site-search {
       width: 250px;
       text-align: center;
    }
    